<!DOCTYPE html>
{% load static %} <!-- New line -->


<html>
    <head>
    <title>Sign in &amp; Sign up</title>
        <link href="{% static "CSS/maincss.css" %}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>

    <body>

        <div id="top-header">
            <div id="topbar-content">
                <div id="logo">
                <img id="logo-image"src="{% static "images/smartcitylogo.png" %}">
                </div>
                <div>
                    <a href="{% url 'mainpage' %} ">
                    <h1 id="logo-name">SERCHO</h1>
                    </a>
                </div>
                    <input id="search-box" type="text" placeholder=" Search Here" >
                    <button id="search-button" type="submit" value="submit" name="search-button"><i class="fa fa-search" aria-hidden="true" style="font-size:45px;"></i></button>
                <div id="signin-buttons">
                   {% if user.is_authenticated %}
                            <a>Hi {{ user.username }}! </a>
                              <a href="{% url 'logout' %}">Logout</a>
                            {% else %}
                              <a href="{% url 'signin' %}">Login</a>
                            {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <div id="main-content">

              <form method="post" id="signup" class="signupinput" style="align-content: center">
                    {% csrf_token %}
                    {% for field in form %}
                          <p id="userid">
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                            {% endif %}
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}

                        {% endfor %}
                    <button type="submit" id="signupsubmit">Sign up</button>


              </form>


        </div>
        <div id="footer">
            <div id="quick-links">
                <table id="quick-links-table">
                  <tr>
                    <th><a href="{% url 'signin' %}">Sign in</a></th>
                    <th><a href="{% url 'signup' %}">Sign up</a></th>
                    <th><a href=" ">About Us</a></th>
                  </tr>
                </table>
            </div>
        </div>




    </body>


</html>