<!DOCTYPE html>
{% load static %} <!-- New line -->


<html>
    <head>
    <title>Sign in &amp; Sign up</title>
        <link href="{% static "CSS/maincss.css" %}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--        <script src="mainjavascript.js"></script>-->

    </head>

    <body>

        <div id="top-header">
            <div id="topbar-content">
                <div id="logo">
                <img id="logo-image"src="{% static "images/smartcitylogo.png" %}">
                </div>
                <div>
                    <h1 id="logo-name">SERCHO</h1>
                </div>
                    <input id="search-box" type="text" placeholder=" Search Here" >
                    <button id="search-button" type="submit" value="submit" name="search-button"><i class="fa fa-search" aria-hidden="true" style="font-size:45px;"></i></button>
                <div id="signin-buttons">
                    <a href="signinpage.html">Sign in</a>
                    <a href="signinpage.html#signup ">Sign up</a>
                </div>
            </div>
        </div>
        <hr>
        <div id="main-content">
            <form id="signup" name="signup" onsubmit="return validatesignup()" method="post">
                <h1>Sign up</h1>
                <div id="name">
                    Name*:
                    <br>
                    <input type="text" placeholder="Enter Your Name" name="name" id="name-input" class="signupinput"><span id="signupnamevalidator"> </span>
                </div>
                <div id="password" >
                    Password*:
                    <br>
                    <input type="password" placeholder="Enter Password" name ="password" id="password-input" class="signupinput"><br><span id="signuppassvalidator"> </span>
                </div>
                <br>
                <div id="email">
                    Email*:
                    <br>
                    <input type="text" placeholder=" Enter Your Email" name ="signupemail" id="email-input" class="signupinput"><span id="signupemailvalidator"> </span>
                </div>
                <div id="confirm-password">
                    Confirm Password*:
                    <br>
                    <input type="password" placeholder="Confirm Password" name="conpassword" id="conpassword-input" class="signupinput"><br><span id="signupconpassvalidator"> </span>
                </div>
                <br>
                <div id="city">
                    Current City:
                    <br>
                    <input type="text" placeholder=" Enter Your Current City" name="city" id="city-input" class="signupinput"><span id="cityvalidator"> </span>
                </div>
                <br>
                <button id="signupsubmit" type="submit"  value="signin" >Sign up</button>


            </form>

            <script type="text/javascript">
            document.getElementById("signinsubmit").onclick
            </script>
        </div>
        <div id="footer">
            <div id="quick-links">
                <table id="quick-links-table">
                  <tr>
                    <th><a href="signinpage.html">Sign in</a></th>
                    <th><a href="signinpage.html#signup">Sign up</a></th>
                    <th><a href=" ">About Us</a></th>
                  </tr>
                </table>
            </div>
        </div>




    </body>


</html>