<!DOCTYPE html>
{% load static %}

<!-- New line -->

<html>
        <head>
            <title> Smart City </title>
            <link href="{% static "CSS/maincss.css" %}" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        <body>
            <div id="top-header">
                <div id="topbar-content">
                    <div id="logo">
                        <img id="logo-image" src="{% static "images/smartcitylogo.png" %}" alt="Picture of Rango" /> <!-- New line -->
                        <a href="{% url 'mainpage' %} ">
                            <h1 id="logo-name">SERCHO</h1>
                        </a>
                    <div id="signin-buttons">

                                <a>Hi {{ username }}! </a>
                                  <a href="{% url 'logout' %}">Logout</a>

                                  <a href="{% url 'signin' %}">Login</a>


                        <a href="{% url 'signup' %}">Sign up</a>
                    </div>
                </div>

            </div>
            <div id="content">


                <form id="main-search" action="{% url 'searchresult'%}" method="get" accept-charset="utf-8">
                    <input class="searchfield" name="q" type="text" placeholder="Search Here" id="main-search-box" >
                    <button class="searchbutton" type="submit" id="main-search-button">
                    <i class="fa fa-2x fa-search" aria-hidden="true"></i>
                    </button>
                </form>


            </div>
            <div id="footer">
                <div id="quick-links">
                    <table id="quick-links-table">
                      <tr>
                        <th><a id="footer-signin" href="{% url 'signin' %}">Sign in</a></th>
                        <th><a id="footer-signup" href="{% url 'signup' %}">Sign up</a></th>
                        <th><a id="footer-aboutus" href=" ">About Us</a></th>
                      </tr>
                    </table>
                </div>
            </div>
        </body>

    </html>